h1 {
  text-align: center;
  color: White;
  letter-spacing: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Make the section take up the entire viewport height */
}

body {
  background-color: #211c2b;
  background-image: url("./bg-stars.svg");
  background-size: cover;
  margin: 0; /* Remove default body margin */
  display: flex; /* Use flex to align .svgContainer to the bottom */
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh;
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  margin: 110px;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 35px;
}

.flipdown {
  border-radius: 10px;
  padding: 10px;
  font-size: 55px;
  text-align: center;
  width: 140px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33364e;
  box-shadow: inset 0em 1.5em #2b2c45;
  color: #e4648a;
  position: relative;
  font-weight: bold;
}

.flipdown::before,
.flipdown::after {
  content: "";
  width: 5px;
  height: 10px;
  background-color: #000;
  border-radius: 0 10px 10px 0;
  position: absolute;
}

.flipdown::before {
  left: 0; /* Position the left half circle on the left side */
}

.flipdown::after {
  right: 0; /* Position the right half circle on the right side */
  transform: scaleX(-1); /* Flip the right half circle horizontally */
}

p {
  color: #6a6781;
  letter-spacing: 5px;
  font-weight: bold;
}

.svgContainer {
  background-image: url("./pattern-hills.svg");
  background-size: cover; /* Make the background image cover the entire width of the container */
  background-repeat: no-repeat;
  background-position: bottom; /* Place the image at the bottom */
  width: 100%; /* Fill the maximum width of the container */
  height: 200px; /* Fill the entire viewport height */
  flex: 1;
  position: absolute; /* Add this line */
  bottom: 0; /* Place it at the bottom of the viewport */
}

@media (max-width: 428px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .svgContainer {
    height: 100px;
  }
  h1 {
    margin-top: 50px;
  }
}
